{% extends "base.html.twig" %}

{% block body %}
    <div class="Container">
        <div class="Row Justify--center">
            <div class="Column Column--12 Column--md-8 Column--lg-6 Column--xl-5">
                {{ form_start(form) }}
                <div class="Card">
                    <div class="Card__Header">Mot de passe oublié ?</div>
                    <div class="Card__Body">
                        {{ form_rest(form) }}
                    </div>
                    <div class="Card__Footer Flex Justify--end">
                        <button class="Button Button--primary">Continuer</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
