.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    margin-right: -15px;
    margin-left: -15px;

    .Column {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
        @for $columns from 1 through 12 {
            &.Column--#{$columns} {
                @include grid($columns);
            }
        }

        @each $size, $breakpoint in $breakpoints {
            @for $columns from 1 through 12 {
                &.Column--#{$size}-#{$columns} {
                    @include responsive-grid($columns, $size);
                }
            }
        }
    }
}
