.Text {
  &.Text--small {
    font-size: $text-small;
  }

  &.Text--normal {
    font-size: $text-normal;
  }

  @each $name, $color in $colors {
    &.Text--#{$name} {
      color: $color;
    }
  }
}

.Heading {
  @each $size, $heading in $headings {
    &.Heading--#{$size} {
      font-size: $heading;
    }
  }
}
