<li class="Collection__Item Field Field--input Field--group Field--no-margin Flex Flex--row List-Group__Item">
    {{ form_widget(form, { attr: { class: "Flex--grow-1" }}) }}
    <button class="Collection__Remove Button Button--danger Button--icon Button--icon-solid-times"></button>
</li>