<li class="Collection__Item Field Field--input Field--group Field--no-margin Flex Flex--row List-Group__Item">
    <label for="{{ form.good.vars.id }}" class="Button Button--light">
        {{ form_widget(form.good) }}
    </label>
    {{ form_widget(form.title, { attr: { class: "Flex--grow-1" }}) }}
    <button class="Collection__Remove Button Button--danger Button--icon Button--icon-solid-times"></button>
    {{ form_errors(form.title) }}
</li>