$button-sizes: (small, medium, large );
$button-paddings: (
    small: .25rem .5rem,
    medium: .375rem .75rem,
    large: .5rem 1rem,
);
$button-font-sizes: (
    small: .875rem,
    medium: 1rem,
    large: 1.25rem,
);
$button-radius: (
    small: .2rem,
    medium: .25rem,
    large: .3rem,
);
