$field-margin-bottom: 1rem;
$field-help-error-margin: .25rem 0 0;
$widget-padding-with-icon: .375rem 2.5rem;
$widget-choice-padding: .5rem 0;
$widget-padding: .375rem 2.5rem .375rem .75rem;
$widget-border: 1px solid $grey;
$widget-height: calc(2rem + 2px);
$widget-textarea-min-height: calc(4rem + 2px);
$label-height: 1rem;
$label-margin-bottom: .375rem;
$widget-icon-top: calc(1.75rem + 1px);
$widget-select-icon-right: 1.25rem;
$widget-input-icon-right: .75rem;
$widget-icon-left: .75rem;
$widget-icon-color: rgba($black, .375);
