@mixin grid($columns) {
    flex: 0 0 percentage($columns/12);
    max-width: percentage($columns/12);
}

@mixin responsive-grid($columns, $size) {
    @include respond-from($size) {
        flex: 0 0 percentage($columns/12);
        max-width: percentage($columns/12);
    }
}
