$header-padding: 1rem 0;
$header-background: $light;
$header-border-bottom: 1px solid rgba(0,0,0,.125);
$footer-padding: 1rem 0;
$footer-background: $light;
$footer-border-top: 1px solid rgba(0,0,0,.125);
$main-padding: 2rem 0;
$main-background: $white;
$main-scrollbar-color: $grey;
$main-scrollbar-background: $light;
$main-scrollbar-width: .5rem;
