.Alert {
    margin-bottom: $alert-margin-bottom;
    padding: $alert-padding;
    border: 1px solid transparent;
    border-radius: $alert-radius;
    min-height: 1rem;

    @each $name, $color in $alert-colors {
        &.Alert--#{$name} {
            color: map-get($color, color);
            background-color: map-get($color, background);
            border-color: map-get($color, border);
        }
    }

    &.Alert--icon {
        padding: $alert-padding-with-icon;
        position: relative;

        &:before {
            position: absolute;
            top: $alert-icon-top;
            left: $alert-icon-left;
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            vertical-align: middle;
        }

        @each $type in map_keys($icon-types) {
            @each $icon in map_keys($icons) {
                &.Alert--icon-#{$type}-#{$icon}:before {
                    @include icon($type, $icon);
                }
            }
        }
    }
}