.Button {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    min-height: map-get($button-font-sizes, medium);
    line-height: map-get($button-font-sizes, medium);
    border-radius: map-get($button-radius, medium);
    padding: map-get($button-paddings, medium);
    font-size: map-get($button-font-sizes, medium);


    &.Button--icon {
        padding: map-get($button-padding-icons, medium);
        position: relative;

        &:empty {
            padding-right: 0;
        }

        &:before {
            position: absolute;
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            vertical-align: middle;
            top: map-get($button-top-icons, medium);
            left: map-get($button-left-icons, medium);
        }

        @each $size in $button-sizes {
            &.Button--#{$size} {
                padding: map-get($button-padding-icons, $size);
                min-height: map-get($button-font-sizes, $size);
            }
            &.Button--#{$size}:before {
                top: map-get($button-top-icons, $size);
                left: map-get($button-left-icons, $size);
            }
        }

        @each $type in map_keys($icon-types) {
            @each $icon in map_keys($icons) {
                &.Button--icon-#{$type}-#{$icon}:before {
                    @include icon($type, $icon);
                }
            }
        }
    }

    @each $name, $color in $colors {
        &:not(.Button--outline).Button--#{$name} {
            border: 1px solid $color;
            background: $color;
            color: map-get($contrasts, $name);

            &:active, &:hover {
                border: 1px solid darken($color, 10%);
                background: darken($color, 10%);
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($color,.5);
                outline: none;
            }
        }
        &.Button--outline.Button--#{$name} {
            border: 1px solid $color;
            background: $white;
            color: $color;
            &:active, &:hover {
                border: 1px solid $color;
                background: $color;
                color: map-get($contrasts, $name);
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($color,.5);
                outline: none;
            }
        }
    }
    @each $size in $button-sizes {
        &.Button--#{$size} {
            border-radius: map-get($button-radius, $size);
            padding: map-get($button-paddings, $size);
            font-size: map-get($button-font-sizes, $size);
            line-height: map-get($button-font-sizes, $size);
        }
    }
}