{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <h2>Bonjour {{ pseudo }}. </h2>

    <p>Une demande de réinitialisation de ton mot de passe a été initée. Si tu en es l'auteur, clique sur le lien ci-dessous pour changer
    ton mot de passe. Sinon, prière ignorer cet email et notifier l'équipe de Code Challenge.</p>

    <p>Cordialement, </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <center><button href="{{ link }}">Changer mon mot de passe</button></center>
{% endblock %}
