{% extends "base.html.twig" %}

{% block body %}
    <button class="Button Button--small Button--primary">Primary</button>
    <button class="Button Button--medium Button--success">Success</button>
    <button class="Button Button--large Button--danger">Danger</button>
    <button class="Button Button--small Button--outline Button--primary">Primary</button>
    <button class="Button Button--medium Button--outline Button--success">Success</button>
    <button class="Button Button--large Button--outline Button--danger">Danger</button>
{% endblock %}
