{% extends "base.html.twig" %}

{% block body %}
    <div class="Card Card--success">
        <div class="Card__Header">dsfgdsfg</div>
        <div class="Card__Body">sdfgdsgf</div>
{#        <div class="Card__Footer">dsfgsdfg</div>#}
    </div>
{% endblock %}
