{% extends "base.html.twig" %}

{% block body %}
    <div class="Container">
        <div class="Row">
            <div class="Column">
                <div class="Alert Alert--primary Alert--icon Alert--icon-solid-user" role="alert">
                    test
                </div>
                <div class="Alert Alert--secondary" role="alert">
                    test
                </div>
                <div class="Alert Alert--warning" role="alert">
                    test
                </div>
                <div class="Alert Alert--info" role="alert">
                    test
                </div>
                <div class="Alert Alert--successs" role="alert">
                    test
                </div>
                <div class="Alert Alert--danger Alert--icon Alert--icon-solid-exclamation-triangle">
                    test
                </div>
            </div>
        </div>
    </div>
{% endblock %}
