{% extends "base.html.twig" %}

{% block body %}

    <div class="Container">
        test
    </div>
    <div class="Container Container--sm">
        test
    </div>
    <div class="Container Container--md">
        test
    </div>
    <div class="Container Container--lg">
        test
    </div>
    <div class="Container Container--xl">
        test
    </div>
    <div class="Container Container--fluid">
        test
    </div>
{% endblock %}
