{% extends "base.html.twig" %}

{% block body %}
    <div class="Container">
        <div class="Row Justify--center">
            <div class="Column Column--12 Column--md-8 Column--lg-6 Column--xl-4">
                <form method="post" class="Card">
                        <div class="Card__Header">Connexion</div>
                        <div class="Card__Body">
                            {% if vm.errorMessage is not null %}
                                <div class="Alert Alert--danger Alert--icon Alert--icon-solid-exclamation-triangle">
                                    {{ vm.errorMessage }}
                                </div>
                            {% endif %}
                            <div class="Field Field--input Field--icon Field--icon-solid-at">
                                <label for="username" class="Field__Label">Email</label>
                                <input type="email" required="required" id="username" name="username" value="{{ vm.lastUsername }}" placeholder="Adresse email" class="Field__Widget">
                            </div>
                            <div class="Field Field--input Field--icon Field--icon-solid-key">
                                <label for="password" class="Field__Label">Mot de passe</label>
                                <input type="password" required="required" name="password" placeholder="Mot de passe" class="Field__Widget">
                            </div>
                        </div>
                        <div class="Card__Footer Flex Justify--end">
                            <button class="Button Button--primary">Se connecter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}