{% set flahses = app.flashes %}
{% if flahses|length > 0 %}
    <div class="FlashBag">
        {% set delay = 5000 %}
        {% for type, messages in flahses %}
            {% for message in messages %}
                <div class="FlashBag__Message FlashBag__Message--animate FlashBag__Message--{{ type }}" data-delay="{{ delay }}">
                    {{ message }}
                </div>
                {% set delay = delay + 1000 %}
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}