{% extends "base.html.twig" %}

{% block body %}
    <div class="Container">
        <div class="Row Justify--center">
            <div class="Column Column--12 Column--md-8 Column--lg-6 Column--xl-5">
                {{ form_start(form) }}

                <div class="Card">
                    <div class="Card__Header">Modifier mon mot de passe</div>

                    <div class="Card__Body">
                        {{ form_row(form.plainPassword) }}
                    </div>

                    <div class="Card__Footer Flex Justify--end">
                        <button class="Button Button--primary">Modifier</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>=
{% endblock %}